#logo { content: url('//cdn.gbraad.nl/images/logo.svg'); }
.no-svg #logo { content: url('//cdn.gbraad.nl/images/logo.png'); }
#logo::after { content: url('//cdn.gbraad.nl/images/logo.svg'); }
.no-svg #logo::after { content: url('//cdn.gbraad.nl/images/logo.png'); }

footer { text-align: center; }
footer ul { list-style: none; margin: 0 auto; overflow: hidden; padding: 0; }
footer ul li { float: left; font-size: 2.2em; height: 48px; margin: 0 30px 12px 0; width: 48px; }
footer ul li:last-child { margin-right: 0; }
footer ul li a { background: #cccccc; color: #fff; display: block; height: 48px; line-height: 48px; overflow: hidden; text-decoration: none; -webkit-transition: all .3s ease; width: 48px; behavior: url("/assets/css/PIE.htc"); }
footer ul li a:hover, footer ul li a:focus, footer ul li a:active { background: #333; color: #fff; }

.blink {
  color: white;
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}